body {
    font-family: 'Montserrat', sans-serif;
    background: rgba(246, 246, 250, 1);
    padding: 40px;
}

a {
    text-decoration: none;
}

.wrapper {
    display: flex;
    flex-direction: row-reverse;
    background-color: #fff;
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Main-content */
.main-content {
    padding: 88px;
}

.main-conten-title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin: 0 0 8px 0;
}

/* About me */
.about-me-container {
    margin-bottom: 64px;
}

.my_profession {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 0 0 20px 0;
}

.my-name {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin: 0 0 28px 0;
}

.my-descr {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 525px;
}

/* Projects */
.projects-container {
    margin-bottom: 52px;
}

.projects-list {
    margin: 0;
    padding: 0 0 0 16px;
}

.project_item {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.project_item_link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #005FFF;
}

.project-item-descr {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

/* Work Experience */
.work-experience-container {
    margin-bottom: 44px;
}

.work-experience-item {
    margin-bottom: 16px;
}

.work-experience-position {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin: 0;
}

.work-experience-company {
    color: #6D9BF5;
}

.work-period {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin: 12px 0 8px 0;
}

.work-duties-list {
    padding: 0 0 0 16px;
    margin: 0;
}

.work-duties {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

/* Education */
.education-container {
    margin: 0;
    padding: 0;
}

.education-position {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #6D9BF5;
    padding: 0;
    margin: 0 0 12px 0;
}

.education-type {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding: 0;
    margin: 0 0 12px 0;
}

.education-date {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
}

/* Sidebar */
.sidebar {
    width: 370px;
    background: #E0EBFE;
}

.my-photo {
    margin-top: 40px;
}

.contacts-container,
.tech-skills-container,
.soft-skills-container {
    margin: 48px 0px 0px 40px;
}

.sidebar-title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #161D2A;
    margin-bottom: 8px;
}

.contacts-type {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #161D2A;
    margin-right: 8px;
}

.contacts-item {
    margin: 0;
}

.contacts-number {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #161D2A;
}

.contacts-email {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #2979FF;
}

/* Skills */
.skills-list {
    margin: 0;
    padding: 0 0 0 24px;
}

.skills-list-item {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #6D9BF5;
}

.skills-list-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #161D2A;
}